[paths]
working dir = /src
program source = /src/curl
entry file = /src/curl_fuzzer/curl_fuzzer.cc
compilation database = /src/curl/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /src/curl_fuzzer/corpora/curl_fuzzer_http
[optional paths]
exe = /src/curl_fuzzer/curl_fuzzer_http
funcList = /src/funcList
[build savers]
/src/curl/src/tool_cb_hdr.c
[names]
program name = curl
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
