[paths]
working dir = /src
program source = /src/PROJ
entry file = /src/PROJ/test/fuzzers/standard_fuzzer.cpp
compilation database = /src/PROJ/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /out/seeds
[optional paths]
exe = /out/standard_fuzzer
funcList = /src/funcList
[names]
program name = file
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
