[paths]
working dir = /src
program source = /src/libxml2
entry file = /src/libxml2_xml_reader_for_file_fuzzer.cc
compilation database = /src/libxml2/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /out/seeds
[optional paths]
exe = /out/libxml2_xml_reader_for_file_fuzzer
funcList = /src/funcList
[build savers]
/src/libxml2/xmlcatalog.c
/src/libxml2/xmllint.c
[names]
program name = libxml2
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
