[paths]
working dir = /src
program source = /src/libpcap
entry file = /src/libpcap/testprogs/fuzz/fuzz_both.c
compilation database = /src/libpcap/build/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /out/seeds
[optional paths]
exe = /out/fuzz_both
funcList = funcList
[names]
program name = libpcap
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
