[paths]
working dir = /src
program source = /src/libxml2
entry file = /src/target.cc
compilation database = /src/libxml2/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /out/seeds
[optional paths]
exe = /out/xml
funcList = /src/funcList
[build savers]
/src/libxml2/xmlcatalog.c
/src/libxml2/xmllint.c
/src/libxml2/testSchemas.c
/src/libxml2/testRelax.c
/src/libxml2/testSAX.c
/src/libxml2/testHTML.c
/src/libxml2/testXPath.c
/src/libxml2/testURI.c
/src/libxml2/testThreads.c
/src/libxml2/testC14N.c
/src/libxml2/testAutomata.c
/src/libxml2/testRegexp.c
/src/libxml2/testReader.c
/src/libxml2/testapi.c
/src/libxml2/testModule.c
/src/libxml2/runtest.c
/src/libxml2/runsuite.c
/src/libxml2/testchar.c
/src/libxml2/testdict.c
/src/libxml2/runxmlconf.c
/src/libxml2/testrecurse.c
/src/libxml2/testlimits.c
/src/libxml2/doc/examples/io1.c
/src/libxml2/doc/examples/io2.c
/src/libxml2/doc/examples/parse1.c
/src/libxml2/doc/examples/parse2.c
/src/libxml2/doc/examples/parse3.c
/src/libxml2/doc/examples/parse4.c
/src/libxml2/doc/examples/reader1.c
/src/libxml2/doc/examples/reader2.c
/src/libxml2/doc/examples/reader3.c
/src/libxml2/doc/examples/reader4.c
/src/libxml2/doc/examples/testWriter.c
/src/libxml2/doc/examples/tree1.c
/src/libxml2/doc/examples/tree2.c
/src/libxml2/doc/examples/xpath1.c
/src/libxml2/doc/examples/xpath2.c
/src/libxml2/example/gjobread.c
[names]
program name = libxml2
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
